#header {
    background-color: red;
}

#footer {
    background-color: rgb(153, 77, 184);
}

#header,
#footer {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#columns {
    display: flex;
}

.left,
.center,
.right {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.left {
    background-color: green;
    width: 20%;
}

.center {
    background-color: rgb(56, 123, 167);
    width: 60%;
}

.right {
    background-color: pink;
    width: 20%;
}


@media (min-width: 992px) {
    #columns {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    #columns {
        width: 100%;
    }
}

@media (max-width: 768px) {
    #columns {
        width: 100%;
    }
}