#header {
    background-color: red;
}

#footer {
    background-color: rgb(153, 77, 184);
}

#header,
#footer {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

#columns {
    display: flex;
    flex-wrap: wrap;
}

.paragraph {
    margin-top: 0;
}

.left,
.center,
.right {
    color: white;
    text-align: center;
    text-transform: uppercase;
}

.left,
.right {
    width: 20%;
    padding-bottom: 50px;
}

.left {
    background-color: green;
}

.center {
    width: 60%;
    background-color: rgb(131, 199, 244);
}

.right {
    background-color: pink;
}


@media (min-width: 768px) and (max-width: 992px) {
    .center {
        flex-basis: 80%;
    }
    
    .right {
        flex-basis: 20%;
    }

    .left {
        flex-basis: 100%;
        order: 1;
    }
}

@media (max-width: 768px) {
    .left,    
    .center,
    .right {
        flex-basis: 100%;
    }

    .center {
        order: -1;
    }
}